/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/app/Console
/app/Exceptions
/app/Providers
composer.json
/database/factories
/database/seeds
/public
server.php
vendor/
artisan
composer.lock
package.json
/resources/assets
/resources/lang
storage/
webpack.mix.js
bootstrap/
config/
phpunit.xml
/tests
yarn.lock
.gitignore
.gitattributes
